* {
    margin: 5;
    padding: 0;
    border: none;
	font-size: large;
}

body {
    
    color: #3a3a3a;
    font-family: oswald, sans-serif;
    font-weight: 300;
	text-align: center;
	background-color: #fff;
}

.section__hidden {
	opacity: 0;
	transform: translateY(8rem);
}

/* Header, navbar & img */

.nav-bar {
    overflow: hidden;
    background-color: rgba(104, 153, 23, .3);
    list-style-type: none;
    float: right;
}

.nav-bar a {
    text-transform: uppercase;
    color: #3a3a3a;
    font-size: 40px;
    text-decoration: none;
    padding: 10px;
    display: inline;
    float: right;
    text-align: right;
	margin-right: 3%;
}

.nav-bar :hover{
	border-bottom: #3a3a3a 2px solid;
}

#stuck {
    position: fixed;
    top: 0;
    width: 99%;
}

/* .headline {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(241, 234, 234, 0.3);
} */

#header {
	height: 20%;
	width: 100%;
	background: #fff;
	position: relative;
	background-size: cover;
	margin-bottom: 10px;
	color: #fff;
	text-align: center;
	font-weight: 500;
}

.toptext {
	margin-top: 5%;
}

.solar-img {
	background: url(../images/sol-cel-head.jpeg);
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 600px;
	margin-top: 80px;
}

.solar-panels {
	height: 750px;
	margin-top: 8%;
}

#expensive {
	margin-left: 5%;
	margin-bottom: 15%;
	margin-top: 5%;
	text-align: left;
	width: 45%;
	padding-top: 5%;
	font-size: 17px;
}

#expensive-times {
	background: url(../images/expensivetimes.jpg) no-repeat center center;
	float: right;
	width: 30%;
	height: 350px;
	vertical-align: middle;
	margin-right: 5%;
	background-size: contain;
}


#solar-pan-cen {
	background: url(../images/solar-panels-center.jpg);
	float: left;
	width: 30%;
	height: 350px;
	vertical-align: middle;
	margin-left: 5%;
}

#solar-text {
	margin-right: 5%;
	float: right;
	text-align: left;
	width: 45%;
	margin-top: 4%;
	font-size: 17px;
}

.popup-wrapper {
	background-color: rgba(243, 243, 243, 0.8);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	}

.popup {
	/*font-family: ;*/
	text-align: center;
	width: 100%;
	max-width: 600px;
	margin: 10% auto;
	padding: 20px;
	background-color: rgba(104, 153, 23, 0.3);
	position: relative;
	height: 550px;
	border-radius: 2%;
	border: #3a3a3a 1px solid;
}

.popup-close {
	position: absolute;
	top: 5px;
	right: 8px;
	cursor: pointer;
	font-size: x-large;
  }

/* inside pop-up */

.contact-form {
	margin: 15% 0;
	padding: 5%;
	background-color: rgba(104, 153, 23, .3);
	height: 275px;
}

.contact-form button {
	background-color: #fd912ea6;
	width: 15%;
	height: 50px;
	font-size: larger;
	margin-top: 2%;
	border-radius: 5%;
	padding: 2px;
	cursor: pointer;
	border-radius: 5%;
	width: 200px;
	margin: 1,5rem;
	border: #3a3a3a 1px solid;
}

#pop-button:hover {
	color: #da7e28a6;
	background-color: #fff;
	
}

.questions {
	margin-top: auto;
}
/* Pop-up window */

.questions {
    margin: auto;
    margin-top: 10px;
    width: 50%;
    height: 400px;
    text-align: center; 
    
}

.question-form {
    display: block;
    text-align: center; 
}

.name-email {
    width: 90%;
    height: 25px;
    border: #3a3a3a 1px solid;
    margin: 5px;
    text-align: center;
	margin-bottom: 4%;
}

.name-email:hover {
    border: #e49a65 5px dotted;
}

label {
	text-align: left;
	float: left;
	margin-left: 5%;
}

.your-question {
    width: 90%;
    height: 200px;
    border: #3a3a3a 1px solid;
    margin: 5px;
    text-align: center;
	margin-bottom: 6%;
}

.your-question:hover {
    border: #e49a65 5px dotted;
}

#send {
    padding: 4px;
    border: #3a3a3a 1px solid;
    background-color: rgba(255, 255, 255, .7);
	width: 200px;
	height: 40px;
	margin-left: auto;
}

#send:hover {
    background-color: #e49a65;
    color: #fff;
    border: #e49a65 5px solid;
}



	

/* .popup a {
	background-color: crimson;
	color: #fafafa;
	border: 1px #fafafa solid;
	border-radius: 2px;
	text-decoration: none;
	padding: 6px 10px;
	  } */
  

/* slideshow container*/

/* .slide-cont {
	position: relative;
	
} */

.slide img {
	width: auto;
	height: 500px;
	background-image: contain;
}


/* indicators */

.dot {
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: rgba(104, 153, 23, 0.3);
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active {
	background-color: #fd912ea6;
}

/* slideshow animation */ 

.fade {
	animation-name: fade;
	animation-duration: 3s;
}

@keyframes fade {
	from {opacity: .3;}
	to {opacity: 1;}
}

/* .contact {
	height: 200px;
	margin-top: 5%;
	margin-bottom: 5%;
} */

iframe {
	width: 50%;
}

/* footer  */

footer {
    height: auto;
    width: 100%;
    margin-top: 30px;  
    position: absolute;
	background-color: rgba(104, 153, 23, .3);
	margin-bottom: 0;
}

.social {
    text-align: center;
}

.social > li {
    display: inline;
    overflow: hidden;
    height: auto;
}

.social i {
    font-size: 160%;
    margin: 2%;
    padding: 5%;
    color: #3a3a3a;
}

.social i:hover {
    color: rgba(104, 153, 23, .6);
}

/* media queries */

/* large screen from 1200px wide and down */

@media screen and (max-width: 1150px){
	.solar-img {
		background: url(../images/sol-cel-head-small.jpeg);
		height: 500px;
	}
	
	#solar-pan-cen {
		height: 300px;
	}
	

}

@media screen and (max-width: 1150px){
	.calculation button {
		width: 20%;
	}

}

@media screen and (max-width: 1050px){
	.solar-img {
		height: 475px;
	}
}

@media screen and (max-width: 950px){
	.solar-img {
		height: 450px;
		}
	
	#solar-pan-cen {
		height: 270px;
		margin-top: 3%;
	}
	
	#solar-text {
		margin-top: 2%;
	}

}

@media screen and (max-width: 950px){
	#expensive {
		margin-bottom: 17%;
	}

}

@media screen and (max-width: 805px){
	.nav-bar a {
		font-size: 39px;
	}

	.solar-img {
		height: 400px;
		margin-top: 78px;
	}
	
}

@media screen and (max-width: 780px){
	.nav-bar a {
		font-size: 35px;
	}

	.solar-img {
		height: 380px;
		margin-top: 72px;
	}

	.slide img {
		width: 90%;
		height: 400px;
	}

	.calculation button {
		width: 25%;
	}

	.questions {
		width: 70%;
	}
}

@media screen and (max-width: 710px){
	.nav-bar a {
		font-size: 30px;
	}

	.solar-img {
		height: 360px;
		margin-top: 65px;
	}

	.popup {
		width: 80%;
	}

	footer {
		margin-top: 60px;
	}

}

@media screen and (max-width: 670px){
	#solar-pan-cen {
		height: 200px;
		margin-top: 9%;
	}

	#contact {
		margin-top: 5%;
	}

	.slide img {
		height: 350px;
	}
}

@media screen and (max-width: 650px){
	.calculation button {
		width: 30%;
	}

}

@media screen and (max-width: 620px){
	.nav-bar a {
		font-size: 25px;
	}
	
	.solar-img {
		background: url(../images/sol-cel-head-mobile.jpg) no-repeat center center;
		margin-top: 57px;
	}

}

@media screen and (max-width: 570px) {
	.slide img {
		height: 300px;
	}
}

@media screen and (max-width: 535px){
	.nav-bar a {
		font-size: 20px;
	}

	.solar-img {
		height: 325px;
		margin-top: 50px;
	}
	
	#send {
		width: 150px;
	}

}

@media screen and (max-width: 510px){
	.contact-form {
		height: 310px;
	}

}

@media screen and (max-width: 490px){
	.slide img {
		height: 250px;
	}

	#send {
		width: 150px;
	}

}

@media screen and (max-width: 445px){
	.nav-bar a {
		font-size: 17px;
	}

	.solar-img {
		height: 300px;
		margin-top: 45px;
	}

	.solar-panels {
		height: 1200px;
	}


	#expensive-times{
		float: none;
		width: 90%;
		margin-left: 6%;
		height: 300px;
	}

	#expensive {
		width: 90%;
		text-align: center;
		margin-top: auto;
	}

	#solar-pan-cen {
		float: none;
		width: 90%;
		height: 300px;
	}

	#solar-text {
		width: 90%;
		text-align: center;
		margin-top: auto;
	}

	.square-m {
		display: inline-flex;
		width: 60%;
		margin-left: 10%;
	}
	
}

@media screen and (max-width: 430px) {
	.slide img {
		height: 200px;
	}
}

footer {
	margin-top: 75px;
}

@media screen and (max-width: 395px){
	.nav-bar a {
		font-size: 15px;
	}

	.solar-img {
		height: 280px;
		margin-top: 42px;
	}

	.contact-form {
		height: 350px;
	}

}

@media screen and (max-width: 350px) {
	.slide img {
		height: 175px;
	}
}

@media screen and (max-width: 350px) {
	.nav-bar a {
		font-size: 10px;
	}

	.solar-img{
		margin-top: 35px;
		height: 200px;
	}

	.contact-form {
		height: 370px;
	}

	footer {
		margin-top: 85px;
	}
}
